<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Recommendation System</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!doctype html>
    <title>Recommendation</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <div class="container" style="margin-top: 5% !important;">
      <h1>Top 5 Product Recommendations for {{titles[0]}}</h1><br/>
      <table style="margin: 1%;", class="table">
        <thead>
          <th>{{titles[1]}}</th>
        </thead>
        <tbody>
          {% for table in tables %}
            {% for id in table.data %}
              <tr class="success">
                <td>{{id}}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

  </body>
</html>